<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
<!--            <div class="fill" style="background-image:url(/assets/LED3.jpg);"></div>-->
          <div class="fill" style="background-image:url(<%= image_path 'LED3.jpg' %>);"></div>
            <div class="carousel-caption">
              <h2> <%= t :led_exhibition %> </h2>
            </div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url(<%= image_path 'furniture1.jpg' %>);"></div>
            <div class="carousel-caption">
              <h2><%= t :furniture_exhibition %> </h2>
            </div>
        </div>
        <div class="item">
          <div class="fill" style="background-image:url(<%= image_path 'machinery3.jpg' %>);"></div>
            <div class="carousel-caption">
              <h2> <%= t :machinery_exhibition %> </h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</header>

<!-- Page Content -->
<div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              <%= t :worldexhgroup %> 
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
<!--                  <div class="img-thumbnail flag flag-icon-background flag-icon-gb"></div>-->
<!--                  <h4><%= image_tag 'iran.ico', :size => "32x32" %> 2016.8.2-5</h4>-->
                  <h4><i class="fa fa-fw fa-flag"></i> <%= t :iran %> 2016.8.2-5</h4>
                </div>
                <div class="panel-body">
<!--                  <p><%= t :iran_venue %> </p>-->
<!--                    <a href="#" class="btn btn-default">Learn More</a>-->
<!--                  <%= link_to t('learn_more'), iran_path, :class => 'btn btn-default' %>-->
                  <%= link_to image_tag("iranFP.jpg", :alt => "", :class => "css"), iran_path %>
<!--                  <p><%= t :iran_venue %> </p>-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4><i class="fa fa-fw fa-flag"></i> <%= t :india %> 2016.8.22-24</h4>
                </div>
                <div class="panel-body">
                  <%= link_to image_tag("ind01.jpg", :alt => "", :class => "css"), india_path %>
<!--                  <p><%= t :ind_venue %> </p>-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-flag"></i> <%= t :brazil %> 2016.10.6-9</h4>
                </div>
                <div class="panel-body">
                  <%= link_to image_tag("brazil1.jpg", :alt => "", :class => "css"), brazil_path %>
<!--                  <p><%= t :bra_venue %> </p>-->
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header"><%= t :self_show %> </h2>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= image_tag("logoLE.jpg", size: '256x256' ) %>
<!--          <%= link_to page_path('portfolio-india') do %>-->
            <img class="img-responsive img-portfolio img-hover" src="<%= image_path 'smLED.jpg' %>" alt="" title="" >
<!--          <center><figcaption><%= t :led_exhibition %></figcaption></center><br>-->
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
<!--          <%= link_to page_path('portfolio-india') do %>-->
              <%= image_tag("logoIFFARE.jpg", size: '208x208') %>
          <img class="img-responsive img-portfolio img-hover" src="<%= image_path 'smFurniture.jpg'  %> " alt="" title="">
<!--          <center><figcaption><%= t :furniture_exhibition %></figcaption></center><br>-->
          <% end %>
        </div>
        <div class="col-md-4 col-sm-6">
          <%= image_tag("logoWood.jpg", size: '284x284') %>
<!--      <%= link_to page_path('portfolio-india') do %>-->
          <img class="img-responsive img-portfolio img-hover" src="<%= image_path 'smMachinery.jpg' %>" alt="" title="">
<!--          <center><figcaption><%= t :machinery_exhibition %></figcaption></center><br>-->
          <% end %>
        </div>

    </div>
    <!-- /.row -->

    <!-- Features Section -->
<!--
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">L&E EXPO India 2016</h2>
        </div>
        <div class="col-md-6">
            <p><strong>The exhibition venue</strong> Pragati Maidan:</p>
            <ul>
                <li><strong> Area:</strong> 15,000 Sq M </li>
                <li><strong> E-Mail:</strong> berlinexh@163.com </li>   
            </ul>
          <p><strong>Organizers</strong></p>
            <ul>
                <li><strong> Organizer:</strong> Germany Exhibition Limited </li>
                <li><strong> Organizer:</strong> WorldExh Group (HK) Limited </li>   
                <li><strong> Co-Organizer:</strong> Shunde Lighting Industrial Association </li>   
                <li><strong> India Co-Organizer:</strong> Indian Exhibition Services </li>   
                <li><strong> Media Partners:</strong> New Fairs  58 Shanyou Qufair Zhan Koo </li>   
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/assets/india.jpg" alt="">
        </div>
    </div>
-->
    <!-- /.row -->

    <hr>
  
  		<div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
			<div class="container", style ='background-color: lightgrey'>
				<div class="row" >
					<div class="col-md-8 col-md-offset-2">
						<div class="heading-section text-center animate-box">
                          <h2><%= t :booth_price %></h2><br>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="pricing", style ='background-color: white'>
					<div class="col-md-4 animate-box popular">
						<div class="price-box animate-box", style ='background-color: white; text-align: center'>
							<h2 class="pricing-plan", style ='background-color: yellow'><%= t :iran %> <small>(2016.8.2-5)</small></h2>
							<div class="price"><sup class="currency">
                              US$ </sup>4,000</div>
                            <div style ='text-align: center'>
                              <h5><%= t :iran_venue %></h5><br>
                            </div>
                              <p><%= t :booth_size %></p>
                              <p><%= t :booth_table %></p>
                              <p><%= t :booth_cable_iran %></p>
						      <p><%= t :booth_light_iran %></p>
                              <p><%= t :booth_carpet %></p>
                              <p><%= t :booth_fascia %></p><br>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="price-box animate-box", style ='background-color: white; text-align: center'>
                          <h2 class="pricing-plan", style ='background-color: yellow'><%= t :india %> <small>(2016.8.22-24)</small></h2>
							<div class="price"><sup class="currency">
                              US$ </sup>3,000</div>
                            <div style ='text-align: center'>
                              <h5><%= t :ind_venue %></h5><br>
                            </div>
                              <p><%= t :booth_size %></p>
                              <p><%= t :booth_table %></p>
                              <p><%= t :booth_cable %></p>
						      <p><%= t :booth_light %></p>
                              <p><%= t :booth_carpet %></p>
                              <p><%= t :booth_fascia %></p><br>
						</div>
					</div>

					<div class="col-md-4 animate-box">
						<div class="price-box animate-box", style ='background-color: white; text-align: center' >
							<h2 class="pricing-plan", style ='background-color: yellow'><%= t :brazil %> <small>(2016.10.6-9)</small></h2>
							<div class="price"><sup class="currency">
                              US$ </sup>5,600</div>
                            <div style ='text-align: center'>
                              <h5><%= t :bra_venue %></h5><br>
                            </div>
                              <p><%= t :booth_size %></p>
                              <p><%= t :booth_table %></p>
                              <p><%= t :booth_cable %></p>
						      <p><%= t :booth_light %></p>
                              <p><%= t :booth_carpet %></p>
                              <p><%= t :booth_fascia %></p><br>
						</div>
					</div>

				</div>
				</div>
			</div>
		</div>
  <br>
    <!-- Call to Action Section -->
    <h3><%= t :contact_us %></h3>
    <div class="well">
        <div class="row">
            <div class="col-md-9">
              <p><%= t :worldexh_enquiry %></p>
            </div>
            <div class="col-md-1">
              <a href="https://facebook.com/michael.yeung.94"><i class="fa fa-facebook-square fa-4x" ></i></a>
            </div>
            <div class="col-md-1">
              <a href="#"><i class="fa fa-weixin fa-4x icon-weixin" ></i></a>
            </div>
            <div class="col-md-1">
              <img  src="<%= image_path('WeChatWorldexh.jpg', size: '20x20') %>" border="0" alt="" title="WeChat" >
            </div>
        </div>
    </div>

<!-- /.container -->

    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  
    <div class="row">

        <div class="col-md-12 col-sm-12">
            <p><%= t :china_media_partners %></p>
            <div class="panel panel-default ">
                <div class="list-inline text-center">
                  <li><%= link_to 'http://www.jjcl.com.cn' do %>
                        <%= image_tag("jjcl.jpg", size: '170x170') %>
                      <% end %>
                  </li>
                  <li><%= image_tag("cm1.jpg", size: '180x180') %></li>
                  <li><%= image_tag("cm2.jpg", size: '120x120') %></li>
                  <li><%= image_tag("cm3.jpg", size: '100x100') %></li>
                  <li><%= image_tag("cm4.jpg", size: '90x90') %></li>
                  <li><%= image_tag("cm5.jpg", size: '90x90') %></li>
                  <li><%= image_tag("cm6.png", size: '140x140') %></li>
                  <li><%= image_tag("cm7.png", size: '80x80') %></li>
                  <li><%= image_tag("cm8.png", size: '80x80') %></li>
                  <li><%= image_tag("cm9.jpg", size: '80x80') %></li>
                  <li><%= image_tag("cm10.png", size: '105x105') %></li>
                  <li><%= image_tag("cm11.png", size: '85x85') %></li>                
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <p><%= t :overseas_media_partners %></p>
            <div class="panel panel-default ">
                <div class="list-inline text-center" >
                  <li><%= image_tag("op2.jpg", size: '180x180') %></li>
                  <li><%= image_tag("op3.jpg", size: '120x120') %></li>
                  <li><%= image_tag("op4.jpg", size: '164x164') %></li>
                  <li><%= image_tag("op7.png", size: '210x210') %></li>
                  <li><%= image_tag("op8.png", size: '180x180') %></li>              
                </div>
            </div>
        </div>      
        <div class="col-md-12 col-sm-12">
            <p><%= t :supporting_associations %></p>
            <div class="panel panel-default ">
                <div class="list-inline text-center">
                  <li><%= image_tag("sa1.jpg", size: '80x80') %></li>
                  <li><%= image_tag("sa2.jpg", size: '110x110') %></li>
                  <li><%= image_tag("sa3.jpg", size: '60x60') %></li>
                  <li><%= image_tag("sa4.png", size: '140x140') %></li>            
                </div>
            </div>
        </div>
</div>

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 3000 //changes the speed
  })
});
</script>
