<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header"><%= t :exhibition %>
              <small><%= t :partner_show %></small>
            </h1>
            <ol class="breadcrumb">
              <li><%= link_to t('homepage'), root_path %>
                </li>
                <li class="active"><%= t :exhibition %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                      <img class="img-responsive" src="<%= image_path 'agencyShow1.jpg' %>" alt="">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="<%= image_path 'agencyShow2.jpg' %>" alt="">
                    </div>
                    <div class="item">
                      <img class="img-responsive" src="<%= image_path 'agencyShow3.jpg' %>" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>


    </div>
    <!-- /.row -->

    <!-- Page Venue -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
            </h1>
            <ol class="breadcrumb">
              <li><%= t :partner_show %>
                </li>
              <li class="active"><%= t :I_join %></li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Item Row -->

    <div class="well">
        <div class="row">
            <div class="col-md-12">
              <ul>
<li>2016年1月18-24日 德国科隆家具展IMM 德国·科隆</li>
<li>2016年1月24-28日 7月31-8月4日 美国拉斯维加斯国际家具展LAS VEGAS MARKET 美国·拉斯维加斯</li>
<li>2016年1月26-31日 土耳其伊斯坦布尔国际家具展 IMOB 土耳其</li>  
<li>2016年2月17-20日 墨西哥国际家具及家具配件展EXPO MUEBLE 墨西哥</li>
<li>2016年1月31-2月3日 第14届伊朗国际木工机械及家具配件展Medex Tehran 伊朗</li>
<li>2016年2月1-5日 西班牙巴伦西亚国际家具展FERIA HABITAT VALENCIA 西班牙</li>
<li>2016年2月16-19日 第22届德国国际家具配件展览会ZOW Germany 德国</li>
<li>2016年2月22-25日 科威特国际家具展 KIFF 科威特</li>
<li>2016年3月1-5日 马来西亚国际家具展 MIFF 马来西亚</li>
<li>2016年3月2-4日乌兹别克斯坦国际家具及木工机械展 MebelUZ 乌兹别克斯坦</li>
<li>2016年3月5-8日马来西亚国际出口家具展 EFE 马来西亚</li>
<li>2016年3月8-11日 越南国际家具及家居饰品展 VIFA 越南</li>
<li>2016年3月9-12 美国国际睡眠产品展ISPA EXPO 美国·佛罗里达州</li>
<li>2016年3月9-12日 美国国际睡眠产品展ISPA EXPO 美国·佛罗里达州</li>   
<li>2016年3月16-19日 摩洛哥酒店用品展 Marocotel 摩洛哥</li>   
<li>2016年4月12-17日 意大利米兰国际家具展 ISALONI 意大利·米兰</li>
<li>2016年4月25-29日 德国汉诺威国际工业展HANNOVER MESSE 德国</li>      
<li>2016年5月4-6日 第25届美国拉斯维加斯酒店设计展HD EXPO 美国拉斯维加斯</li>             
<li>2016年5月17-19日 沙特国际家具及家居装饰展The Index Saudi 沙特</li>
<li>2016年5月23-26日 中东迪拜国际家具及室内装饰展 INDEX 国际办公用品展 WORKSPACE 迪拜</li>
<li>2016年6月7-9日 墨西哥家具、家具配件及生产机械展EXPO AMPIMM 墨西哥</li>             
<li>2016年6月13-15日 美国芝加哥国际办公家具及室内装饰展览会 NEOCON 美国·芝加哥</li>           
<li>2016年7月8-10日 澳大利亚国际家具及装饰展 Furnitex 澳大利亚</li>
<li>2016年8月2-8月5日 ★2016年中国国际家具(伊朗)展览会 CIFE Iran 2016 伊朗·德黑兰</li>         
<li>2016年8月2-8月5日 ★2016伊朗国际家具、家居饰品、家具配件及原材料展览会 IFFARE Iran 2016 伊朗·德黑兰</li>      
<li>2016年8月2-8月5日 ★2016伊朗国际木工机械、五金工具及五金材料展 WOODTECH EXPO Iran 2016 伊朗·德黑兰</li>      
<li>2016年8月2-8月5日 ★2016伊朗国际LED照明电工展 L&E EXPO Iran 2016 伊朗·德黑兰</li>
<li>2016年8月5-9日 南非国际家具及室内装饰展 DECOREX 南非·约翰内斯堡</li>      
<li>2016年8月17-19日 ★2016年中国国际家具(印度)展览会 CIFE India 2016 印度·新德里</li>   
<li>2016年8月17-19日 ★2016印度国际家具、家居饰品、家具配件及原材料展览会IFFARE India 2016 印度·新德里</li>
<li>2016年8月17-19日 ★2016印度国际木工机械、五金工具及五金材料展WOODTECH EXPO India 2016 印度·新德里</li>
<li>2016年8月17-19日 ★2016印度国际LED照明电工展 L&E EXPO India 2016 印度·新德里</li>      
<li>2016年8月17-20日 南非国际建筑建材博览会INTERBUILD AFRICA 南非</li>      
<Li>2016年8月17-21日 墨西哥瓜达拉哈拉家具展 EXPOMUEBLE 墨西哥</Li>             
<li>2016年9月4-6日 科隆国际体育用品 、露营设备及园林生活博览会 SPOGA&GAFA 德国·科隆</li>           
<li>2016年9月17-19日 南非国际建筑建材博览会INTERBUILD AFRICA 南非</li>        
<li>2016年9月17-19日 第17届迪拜国际酒店用品展THE HOTEL SHOW 迪拜</li>             
<li>2016年10月6-9日 ★2016巴西国际木工机械、五金工具及五金材料展 WOODTECH EXPO Brazil 2016 巴西·圣保罗</li>           
<li>2016年10月6-9日 ★2016年中国国际家具(巴西)展览会 CIFE Brazil 2016 巴西·圣保罗</li>
<li>2016年10月6-9日 ★2016巴西国际家具、家居饰品、家具配件及原材料展览会IFFARE Brazil 2016 巴西·圣保罗</li>      
<li>2016年10月6-9日 ★2016巴西国际LED照明电工展 L&E EXPO Brazil 2016 巴西·圣保罗</li>      
<li>016年10月10-14日 土耳其国际家具行业、家具配件、林产品和木材工艺展览会INTERMOB 土耳其</li>
<li>016年10月10-14日 土耳其国际木材加工机械、切割工具及手工工具展览会Wood Processing Machinery 土耳其</li>           
<li>2016年10月13-16日 第28届印度国际家具室内装饰及设计展INDEX MUMBAI 印度</li>
<li>2016年10月15-20日 2016年美国高点国际家具展HIGH POINT MARKET 美国</li>             
<li>2016年10月22-26日 第19届土耳其国际家具行业 、家具配件、林产品和木材工艺展览会 INTERMOB 土耳其</li>             
<li>2016年10月22-26日 第29届土耳其国际木材加工机械、切割工具及手工工具展览会Wood Processing Machinery 土耳其</li>      
<li>2016年10月25-29日 科隆国际办公家具及管理设施展 ORGATEC 德国·科隆</li>           
<li>2016年11月27-30日 ★2016伊朗国际家用电器和厨卫展 伊朗·德黑兰</li>
<li>2016年11月6-10日 法国国际酒店及餐饮设备展 Equip'Hotel 法国</li>    
<li>2016年11月21-25日 第28届俄罗斯国际家具 、配件及室内装潢展 MEBEL 俄罗斯·莫斯科</li>           
<li>2017年1月13-17日 ★2017伊朗国际LED照明电工及灯饰展;同期举行:2017伊朗国际门窗及建材展 伊朗·德黑兰</li>   
<li>2017年1月16日-22日 德国科隆国际家具设备展览会IMM 2017 德国·科隆</li>    
<li>2017年2月17-19日 ★2017伊朗国际老龄产业展ISE 2017 印尼·雅加达</li>      
<li>017年3月2017年3月 菲律宾国际家具展PIFS 2017 菲律宾·马尼拉</li>
<li>2017年5月16-19日 德国科隆国际家具生产、木工及室内装饰展INTERZUM 德国·科隆</li>
<li>2017年5月12-14日 ★2017年伊朗清真食品及相关产品展Halal Expo 2017 印尼·雅加达</li>
<li>2017年8月2-8月5日 ★2017伊朗国际家具、家居饰品、家具配件及原材料展览会 IFFARE Iran 2017 伊朗·德黑兰</li>
<li>2017年8月2-8月5日 ★2017伊朗国际木工机械、五金工具及五金材料展 WOODTECH EXPO Iran 2017 伊朗·德黑兰</li>
<li>2017年11月6-9日 ★2017伊朗国际LED照明电工展;同期举行:2017伊朗国际智能家居展览会 伊朗·德黑兰</li>
                            
              </ul>
            </div>
        </div>
    </div>
  
  
      <div class="well">
        <div class="row">
            <div class="col-md-12">
              <a href="mailto:info@worldexhgroup.com?subject=Enquire%20Exhibition%20Information"><%= image_tag("mail.png") %></a> 
            </div>
        </div>
    </div>
    <!-- Related Projects Row -->

    <div class="row">


<!--
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
-->

    </div>

    <!-- /.row -->

</div>
<!-- /.container -->